/* RESET */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CUSTOM PROPERTIES */

:root{
  --bg-header: rgb(255,105,0);
  --bg-sustain-badge: rgb(0,128,0);
  --bg-discount-badge: rgb(255,0,0);
  --bg-fav: rgb(255,255,255);
  --color-discount-price: rgb(255,20,33);
  --color-badge: rgb(255,255,255);
  --color-fav: rgb(0,0,0);
}



/* GENERICS */


body{
  font-family: sans-serif;
}


a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-right: 6px;
}


 ul{
  display: flex;
  list-style: none;
  gap: 10px;
 }


h3{
  font-size: 12px;
  font-weight: 500;
}


h2{
  font-size: 16px;
}

h4{
  color: white;
  font-size: 16px;
  padding-bottom: 10px;
}


nav{
  font-size: 12px;
}





/* UTILITY */

.container{
  max-width: 1080px;
  margin: 0 auto;
}

.bg-header{
  background-color: var(--bg-header);
}




/* HEADER */

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;


  box-shadow: 0 1px 3px #666;
}

.nav-bar{
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo > img{
  width: 150px;
}

.nav-icon{
  color: white;
}


/* MAIN */

.row{
  margin-top: 130px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}


.column{
  flex-basis: calc(100% / 3 - 15px)
}

.card{
  position: relative;

}

.card-pic img{
  width: 100%;
  display: block;
}

.card-pic .secondary-pic{
  display: none;
}

.card-pic:hover .secondary-pic{
  display: block;
}

.card-pic:hover .primary-pic{
  display: none;
}


.info{
  margin-top: 2px;
}

.discount-price{
  color: var(--color-discount-price);
  font-weight: bold;
  font-size: 13px;
}


.original-price{
  text-decoration: line-through;
  font-size: 14px;
}


.badge{
  display: flex;
  gap: 4px;
  position: absolute;
  left: 0;
  bottom: 85px;
}


.discount{
  background-color: var(--bg-discount-badge);
  color: var(--color-badge);
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
}


.sustainability{
  background-color: var(--bg-sustain-badge);
  color: var(--color-badge);
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
}


.favorite{
  background-color: var(--bg-fav);
  color: var(--color-fav);
  position: absolute;
  right: 0;
  top: 10px;
  padding: 15px;
}


.favorite:hover{
  color: red;
  font-size: 20px;
  }



  /* FOOTER */

  footer{
    background-color: black;
  }


  .footer{
    margin-top: 16px;
    padding-top: 25px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
  }


  .social{
    font-size: 18px;
  }